---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me">
  <a href="/">&larr; Go back</a>
  <h1 class="mt-4">About me</h1>
  <h3>Background</h3>
  <p>
    My name is Werner, I am a software developer from the Netherlands and I
    build stuff for the web. I love Linux, functional programming and
    type-safety. I can work with C#, F#, Java, Scala, Ruby, Python and
    TypeScript.
  </p>
  <p>
    My journey as web developer started with PHP. When I discovered Actionscript
    and Flash I got hooked on that for many years. Remember 'skip intro' on
    websites? Good times. Nowadays I write mostly business applications as my
    day job. I also enjoy working with Linux and setting up infrastructure for
    web applications.
  </p>
  <p>
    If I am not sitting behind a computer you can find me sitting behind a
    drumkit, listening to music or watch a film.
  </p>

  <h3>Get in touch</h3>
  <p>
    If you want to get in touch you can send me a message through <a
      href="https://www.linkedin.com/in/wernerl/">LinkedIn</a
    >. You can also find me on <a href="https://github.com/WernerLDev">GitHub</a
    >.
  </p>
</Layout>
