---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About me">
  <a href="/">&larr; Go back</a>
  <h1 class="mt-4">About me</h1>
  <h3>Background</h3>
  <p>
    My name is Werner and I am a software developer from the Netherlands. I have
    a bachelor of engineering with a specialisation in interactive media
    products.
  </p>
  <p>
    I have been making stuff for the web since I was a teenager. I started out
    with PHP but have also played a lot with Flash / ActionScript3.0.
    Professionally I have been working mostly with C# and TypeScript.
  </p>
  <p>
    During my study I was introduced to functional programming in Haskell and
    that triggered a love for this programming paradigm. In my free time I have
    learned Scala and a little bit of F#. I also love to apply functional
    principles in other languages such as TypeScript in the frontend.
  </p>
  <h3>Get in touch</h3>
  <p>
    If you want to get in touch you can send me a message through <a
      href="https://www.linkedin.com/in/wernerl/">LinkedIn</a
    >. You can also find me on <a href="https://github.com/WernerLDev">GitHub</a
    >.
  </p>
</Layout>
