---
import { getCollection } from "astro:content";
import { format } from "date-fns";

import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const allBlogPosts = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
);

let currentYear = 0;
---

<Layout title="Werner Langenhuisen">
  <img
    class="mx-auto mb-4 d-block"
    src="/welcome.svg"
    height="228"
    alt="Vector image of a guy waving"
  />
  <h1 class="">Hi, I'm Werner</h1>
  <h4>Fullstack .NET Developer</h4>
  <p>
    I am a software developer from the Netherlands. I specialize in building
    headless web applications using C#/.NET and React/Typescript.
  </p>
  <a class="btn btn-primary text-light" href="/about">Read more</a>

  <h2 class="mt-5">Posts</h2>

  <ul class="list-group list-group-flush">
    {
      allBlogPosts.map((entry) => {
        let entryYear = entry.data.publishDate.getFullYear();
        const addYear = entryYear != currentYear;
        currentYear = entryYear;
        return (
          <>
            {addYear && (
              <li class="list-group-item ps-0 mt-3">
                <h4>{entryYear}</h4>
              </li>
            )}
            <li class="list-group-item ps-0">
              <>
                <time
                  class="me-3 text-muted post-date d-none d-md-inline-block"
                  datetime={entry.data.publishDate.toISOString()}
                >
                  {format(entry.data.publishDate, "dd LLLL")}
                </time>
                <a href={`/posts/${entry.slug}`}>{entry.data.title}</a>
              </>
            </li>
          </>
        );
      })
    }
  </ul>
</Layout>

<style></style>
