// Bootstrap variable overrides
$enable-shadows: true;
$prefix: "mo-";
$font-size-base: 1.2rem;
$footer-height: 60px;
$body-bg: #f8f9fa;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.scss";
@import "../../node_modules/highlight.js/scss/atom-one-dark-reasonable.scss";

$table-bg: $gray-100;

body {  
  .navbar {
    background: $body-bg;
  }
}


.footer {
  height: $footer-height;

  .container {
    max-height: $footer-height;
  }
}

.page-wrapper {
  min-height: calc(100vh);
}

.navbar-nav .nav-link.active, .btn-blue, .btn-blue:hover {
  background: $orange-600;
  color: #fff;
  padding-left: 10px;
}

code.hljs {
  border-radius: 5px;
  line-height: 1.5;
}

@include color-mode(dark) {
  $table-bg: $gray-900;
  $body-bg: $gray-900;

  .navbar {
    background: $body-bg;
  }
}


@include media-breakpoint-up(lg) { 
  .footer {
    line-height: $footer-height;
  }

  .page-wrapper {
    min-height: calc(100vh - ($footer-height + 2px));
  }
}