@import "fonts.scss";
@import "colors.scss";
@import "../node_modules/highlight.js/scss/mono-blue.scss";

// Bootstrap variable overrides
$primary: $dark-byzantium;
$dark: $rich-black;
$font-family-base: 'Noto Serif', Georgia, "Times New Roman";
$footer-height: 250px;
$font-size-base: 1.1rem;

// Import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-weight: normal;
  color: $rich-black;
}

a {
  color: $orange-soda;
}

* {
  box-sizing: border-box;
}

footer {
  min-height: $footer-height;
}

.page-wrapper {
  min-height: calc(100vh - $footer-height);
}

.image-with-shadow > span {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.blogoverview > time {
  min-width: 110px;
}

.breadcrumb a {
  color: #FFF;
}

.breadcrumb a:hover {
  color: #FFF;
}

.breadcrumb > li.active {
  color: #FFF;
}

.navbar-collapse {
  background: rgba(0,0,0,0.2);

  ul {
    width: 100%;
  }
}

@include media-breakpoint-up(md) { 
  .navbar-collapse {
    background: none;
  
    ul {
      width: auto;
    }
  }
  
}